langchain==0.2.14
langchain-community==0.2.14
langchain-core==0.2.14
langchain-text-splitters==0.2.2
langchain-groq==0.1.9
chromadb==0.5.3
sentence-transformers==3.0.1
streamlit==1.36.0
qrcode[pil]==7.4.2